# skip all file
*

# skip folder
!.vscode
!.vscode/

# allow all folder
!*/


# allow all file with extension
tempCodeRunnerFile.c
!*.csv
!*.c
!*.pdf
!*.md
!*.h
!*.sh
!*.cpp
!*.py
!*.gitignore
!*.txt
!*.ipynb

# allow file Qlearning/model
!*.bin